
<div class="row super-row" style="padding: 5px 24px 10px 23px">
      <a routerLinkActive="active-link" routerLink="requisition"
      class="col-sm font-color">Requisition
      <br /> </a>
      <a routerLinkActive="active-link" routerLink="rfq"
      class="col-sm font-color">RFQ
      <br /></a> 
      <a routerLinkActive="active-link" routerLink="quotation-review"
      class="col-sm font-color" > Quotation Review
      <br /> </a>      
      <a routerLinkActive="active-link" routerLink="indents"
      class="col-sm font-color">Indents
      <br /></a>
      <a routerLinkActive="active-link" routerLink="purchase-order"
      class="col-sm font-color">Purchase Order
      <br /></a>
      <a routerLinkActive="active-link" routerLink="work-order"
      class="col-sm font-color">Work Order
      <br /></a>
                  
      </div>
      
      <div class="w-100">
          <div class="flex-p">
              <div class="row wrap">
                  <div class="col-sm-12 no-padding">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>