
<div class="row super-row" style="padding: 5px 24px 10px 23px">
  <a routerLinkActive="active-link" routerLink="sparepart-opening"
  class="col-sm font-color">Spare Parts
  <br /> </a>
  <a routerLinkActive="active-link" routerLink="material-opening"
  class="col-sm font-color">Materials
  <br /></a> 
  <a style="cursor:not-allowed" disabled readonly 
  class="col-sm font-colorr">Tyres
  <br /> </a>  
  <a style="cursor:not-allowed" disabled readonly
  class="col-sm font-colorr">General
  <br /> </a>  
     
              
  </div>
  
  <div class="w-100">
      <div class="flex-p">
          <div class="row wrap">
              <div class="col-sm-12 no-padding">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>

