
<div class="row super-row" style="padding: 5px 24px 10px 23px">
  <a routerLinkActive="active-link" routerLink="material-active"
  class="col-sm font-color">Active (9) 
  <br /> </a>
  <a routerLinkActive="active-link" routerLink="material-archives"
  class="col-sm font-color">Archives (3)
  <br /></a>     
              
  </div>
  
  <div class="w-100">
      <div class="flex-p">
          <div class="row wrap">
              <div class="col-sm-12 no-padding">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>

