<div class="flex-p" style="padding-top: 0px !important;">
  <div class="row wrap">
      <div class="col-xs-12" style="margin-bottom: 15px;">

          <button mat-raised-button class="margin-right-10" style="color:white; background:#3b7bb8;">
                          <mat-icon>menu</mat-icon>
                      </button>
          <button mat-raised-button (click)="openSiteDailog()" class="btn-primary margin-right-10" style="margin-left: 5px !important;">
                <mat-icon>add</mat-icon> Add Site
            </button>
          <button mat-raised-button (click)="openSowDailog()" class="btn-primary margin-right-10">
                <mat-icon>add</mat-icon> Add SOW
            </button>

          <!-- <button class="btn-success" style="margin-right: 10px !important" disabled
              mat-raised-button><mat-icon>save</mat-icon>&nbsp;Click to Save</button> -->

          
          <button class="margin-right-10 pull-right" mat-raised-button style="color:white; background:#3b7bb8;" ><mat-icon>expand_more</mat-icon></button>
          <button class="margin-right-10 pull-right" mat-raised-button style="color:white; background:#f35353;" ><mat-icon>expand_less</mat-icon></button>
          <a 
            [href]="'https://docs.google.com/spreadsheets/d/quoteSpreadSheetId'" target="_blank" class="margin-right-10 pull-right" mat-raised-button style="color:white; background:#0f7b40;" ><mat-icon>table_view</mat-icon>&nbsp;Worksheet</a>
          <!-- <a 
           class="margin-right-10 pull-right" mat-raised-button style="color:white; background:#3b7bb8;" >&nbsp;Click to Award SOW</a>

          <a 
           class="margin-right-10 pull-right" mat-raised-button style="color:white; background:#3b7bb8;" >&nbsp;Click to Close SOW</a> -->
      </div>
  </div>
</div>

  <div fxLayout="row wrap" style="padding-bottom: 30px;">
    <div class="col-sm-12 w-100">
                <div class="col-sm-4" style="max-width: 24.333333%">
                <div class="col-sm-12" style="margin-left:-31px;">
                    <mat-card class="col-sm-12" style="background: #3b7bb882 !important">
                        <p-tree class="ptreecustom" selectionMode="single"></p-tree>
                    </mat-card>
                </div>
            <!-- </mat-drawer> -->
            </div>
      
            <div class="col-sm-8" style="max-width: 72.666667%">
                <div class="col-sm-13">
                    <mat-card class="col-sm-12" style="background: #dbe8f3 !important;">
                        <div class="col-sm-3">
                            <label>Site :</label>
                            <span>&nbsp;&nbsp;Sipcot Industrial Park </span>
                        </div>
                        <div class="col-sm-3">
                            <label>SOW Name :</label>
                            <span>&nbsp;&nbsp;SRPR</span>
                        </div>
                        <div class="col-sm-3">
                            <label>Budget Hours:</label>
                            <span>&nbsp;&nbsp;47 hrs </span>
                        </div>
                        <div class="col-sm-3">
                            <label class="col-sm-6">Budget Total:</label>
                            <span>&nbsp;&nbsp;$6,845.70</span>
                        </div>
                        <div class="col-sm-3">
                            <label>Quoted:</label>
                            <span>&nbsp;&nbsp;0 hrs </span>
                        </div>
                        <div class="col-sm-3">
                            <label>Project Type:</label>
                            <span>&nbsp;&nbsp;Engineering </span>
                        </div>
                        <div class="col-sm-3">
                            <label>Status:</label>
                            <span>&nbsp;&nbsp;Open</span>
                        </div>
                        <div class="col-sm-3">
                            <label style="margin-left: 8px;">Is Awarded:</label>
                            <span>&nbsp;&nbsp;No </span>
                        </div>
                        <div class="col-sm-3">
                            <label>Fee Structure: </label>
                            <span>&nbsp;&nbsp;Fixed Rate</span>
                        </div>
                    </mat-card>
                    <mat-card class="col-sm-12 margin-top-10">
                        <div class="w-100">
                            <div class="row">
                                
                                <div class="col-sm-12" style="padding: 15px !important; margin-top: 10px;margin-bottom: 20px;">
                                    <p-accordion class="customAccordian">
                                        <p-accordionTab>
                                            <p-header class="col-sm-12 pull-right" style="margin-top: -16px;">
                                                <div class="col-sm-12">
                                                    <label>Activity:</label>
                                                    <span>&nbsp;
                                                        001
                                                    </span>
                                                </div>
                                            </p-header>
                                            <div class="table-responsive">
                                                <mat-card class="col-sm-12" style="background:#dbe8cc69 !important;margin-bottom: 10px;">
                                                    <div class="col-sm-4">
                                                        <label>Activity Type:</label>
                                                        <span>&nbsp;&nbsp;Skiled</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Planned Hours:</label>
                                                        <span>&nbsp;&nbsp;84 Hrs</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Expected Completion Date:</label>
                                                        <span>&nbsp;&nbsp; 23-12-2019</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Assigned To:</label>
                                                        <span>&nbsp;&nbsp;Robert</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Actual Hours:</label>
                                                        <span>&nbsp;&nbsp;14 Hrs</span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label>Actual Completion Date:</label>
                                                        <span>&nbsp;&nbsp;18-22-2019 </span>
                                                    </div>
                                                    <div class="col-sm-4">
                                                      <label>Allocated Date:</label>
                                                      <span>&nbsp;&nbsp;09-22-2019</span>
                                                  </div> 
                                                  <div class="col-sm-4">
                                                      <label>Activity Status:</label>
                                                      <span>&nbsp;&nbsp;Done </span>
                                                  </div>
                                                    <div class="col-sm-4" >
                                                        <label>Remarks:</label>
                                                        <span>&nbsp;&nbsp;Positive</span>
                                                    </div>
                                                    <div class="col-sm-12" style="text-align: right;" >
  
                                                      <button mat-raised-button class="btn-primary"><mat-icon>update</mat-icon> Update</button>
                                                    </div>
                                                   
                                                    
                                                </mat-card> 
                                            </div>
                                        </p-accordionTab>
                                        <!-- <p-accordionTab>
                                            <p-header>
                                                <label class="margin-left-7">Expenses</label>
                                            </p-header>
                                            <table id="example2" class="table table-bordered table-striped table-hover">
                                                <thead>
                                                    <tr style="background: #586958 !important; color:#fff !important;">
                                                        <th>
                                                            Item
                                                        </th>
                                                        <th class="text-center">
                                                            Rate
                                                        </th>
                                                        <th style="width: 150px !important">
                                                            Quantity
                                                        </th>
                                                        <th class="text-center">
                                                            Totals
                                                        </th>
                                                        <th class="text-center">
                                                            Budget Fee
                                                        </th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr *ngFor="let item of expenses; let i = index">
                                                        <td *ngIf="item.name != ''">{{item.name}}</td>
                                                        <td *ngIf="item.name == ''"> <input type="text" [(ngModel)]="item.name" class="form-control" placeholder="Enter Name">
                                                        </td>
                                                        <td class="text-center" *ngIf="item.rate != null">{{item.rate | currency}}</td>
                                                        <td *ngIf="item.rate == null"> <input type="number" [(ngModel)]="item.rate" class="form-control" placeholder="Enter Rate"> </td>
                                                        <td> <input type="number" [(ngModel)]="item.quantity" class="form-control" placeholder="Enter Quantity"> </td>
                                                        <td class="text-center">{{item.totals | currency}}</td>
                                                        <td *ngIf="i == 0" [attr.rowspan]="expenses.length" style="vertical-align: middle; text-align: center">{{totalBudget | currency}}</td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </p-accordionTab> -->
                                        
                                    </p-accordion>
                                </div>
                            </div>
                            <div class="flex-p">
                            </div>
                        </div>
                    </mat-card>
                </div>
              </div>
        <!-- </mat-drawer-container> -->
        
    </div>
  </div>
  
