
<div class="row super-row" style="padding: 5px 24px 10px 23px">
  <a routerLinkActive="active-link" routerLink="dumper-mercedes"
  class="col-sm font-color"> Dumper Store - Mercedes Benz
  <br /> </a>
  <a routerLinkActive="active-link" routerLink="dumper-volvo"
  class="col-sm font-color">Dumper Store - Volvo
  <br /></a> 
  <a routerLinkActive="active-link" routerLink="dumper-primary"
  class="col-sm font-color">Dumper Store Primary
  <br /> </a>  
  <a routerLinkActive="active-link" routerLink="dumper-machinery"
  class="col-sm font-color">Dumpers & Machinery
  <br /> </a> 
  <a routerLinkActive="active-link" routerLink="dumper-materials"
  class="col-sm font-color">Materials Store
  <br /> </a>  
     
              
  </div>
  
  <div class="w-100">
      <div class="flex-p">
          <div class="row wrap">
              <div class="col-sm-12 no-padding">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>


