<app-project-dashboard></app-project-dashboard>
<div class="row-wrap">
  <div class="w-100">
    <div fxLayout="row">
      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills" style="margin-top: -7px;">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" routerLink="requests-stock">
                Requests (11)
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" routerLink="technicalhead-stock">
                Technical Head (0)
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

