
<div class="row super-row" style="padding: 5px 24px 10px 23px">
  <a routerLinkActive="active-link" routerLink="stock-transfer-order"
  class="col-sm font-color">Stock Transfer Order (11) 
  <br /> </a>
  <a routerLinkActive="active-link" routerLink="outgoing-stock"
  class="col-sm font-color">Outgoing Stock (1)
  <br /></a> 
  <a routerLinkActive="active-link" routerLink="incoming-stock"
  class="col-sm font-color" >Incoming Stock (0)
  <br /> </a>  
  <a routerLinkActive="active-link" routerLink="discrepancies-stock"
  class="col-sm font-color" >Discrepancies (0)
  <br /> </a>  
  <a routerLinkActive="active-link" routerLink="archives-stock"
  class="col-sm font-color" >Archives (1)
  <br /> </a>      
              
  </div>
  
  <div class="w-100">
      <div class="flex-p">
          <div class="row wrap">
              <div class="col-sm-12 no-padding">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
