<div class="col-sm-12">
  <div class="pull-right col-sm-1 no-padding">

      <!-- <button mat-raised-button color="primary" style="position: relative; left: 28px;" class="pull-right filter-hover" (click)="filterToggle = !filterToggle">
          <mat-icon>filter_list</mat-icon> Filter
      </button> -->
  </div>
</div>
<!-- <div class="no-padding col-sm-12"> 
  <form style="width: 1370px;margin-left: -14px;">
      <div fxLayout="row wrap"  *ngIf="filterToggle">
          <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100">
              <mat-card class="filter">
                  <mat-card-content>
                      <div class="row col-sm-12">
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Type:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select placeholder="--Please Select--" class='form-control'>
                                      <mat-option class='option' [value]="0">Site</mat-option>
                                      <mat-option class='option' [value]="1">SOW</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Site:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select placeholder="--Please Select--" class='form-control'>
                                      <mat-option class='option' [value]="0">001.Sipcot Industrial Park</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">SOW:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select multiple placeholder="--Please Select--" class='form-control'>
                                      <mat-option #allSelectedTasks [value]="0">Select All</mat-option>
                                      <mat-option class='option' [value]="0">A.Default</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Status:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select multiple placeholder="--Please Select--" class='form-control'>
                                      <mat-option #allSelectedActions [value]="0">Select All</mat-option>
                                      <mat-option class='option' [value]="0">Awarded</mat-option>
                                      <mat-option class='option' [value]="1">Open</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                      </div>
                      <div class="row col-sm-12" style="margin-top: 10px;">
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">Operation:</div>
                              <div class="col-sm-9 no-padding">
                                  <mat-select multiple placeholder="--Please Select--" class='form-control'>
                                      <mat-option #allSelectedUsers [value]="0">Select All</mat-option>
                                      <mat-option class='option' [value]="1">Created</mat-option>
                                      <mat-option class='option' [value]="2">Updated</mat-option>
                                  </mat-select>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">From Date:</div>
                              <div class="col-sm-9 no-padding">
                                <input class="form-control" class="form-control" placeholder="MM/DD/YYYY" (keypress)="false"
                                [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
                              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="col-sm-3 no-padding" style="margin-top: 6px !important;">To Date:</div>
                              <div class="col-sm-9 no-padding">
                                <input class="form-control" class="form-control" placeholder="MM/DD/YYYY" (keypress)="false"
                                [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2">
                              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div style="margin-left: 65px;">
                              <button mat-raised-button color="primary" class="add-hover btn-primary search">
                                  <mat-icon>youtube_searched_for</mat-icon> Search
                              </button>
                              <button mat-raised-button (click)="resetFilter()" class="" style="margin: 0px 10px;">
                                  <mat-icon>settings_backup_restore</mat-icon> Reset
                              </button>
                              <a (click)="filterToggle = !filterToggle" class="pull-right"
                                style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                              </a>
                              
                          </div>
                          </div>
                      </div>
                  </mat-card-content>
              </mat-card>
          </div>
      </div>
  </form>
</div> -->

<div class="table-responsive w-100 flex-p">
  <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
          <tr class="tr-grid-header">
              
              <th class="vert-align-mid" style="width:200px">Date & Time</th>
              <th class="vert-align-mid" style="width:300px">Operation</th>
              <th class="vert-align-mid" style="width:200px">Site</th>
              <th class="vert-align-mid" style="width:130px">SOW</th>
              <th class="vert-align-mid" style="width:120px">Action</th>
              <th class="vert-align-mid" style="width:290px">Remarks</th>             
              <th class="vert-align-mid">Updated By</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.date}}</td>
            <td>{{item.operation}}</td>
            <td>{{item.site}}</td>
            <td>{{item.sow}}</td>              
            <td>{{item.action}}</td>
            <td>{{item.remarks}}</td>
            <td>{{item.updatedBy}}</td>
        </tr>
      </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>


</div>


