<div id="divView"></div>
<div>
    <div class="col-sm-12">
        <p class="col-sm-12" style="padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">GENERAL </span>
        </p>
        <table id="example2" class="margin-top-20 table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Quote Number:</th>
                    <td>R-025012</td>


                    <th>Project Type: </th>
                    <td>Construction</td>

                </tr>
                <tr>
                    <th>Client Name: </th>
                    <td>Fine Equipments</td>

                    <th>Contact Details:</th>
                    <td>Same as Client</td>

                </tr>
                <tr>
                    <th>Account Manager: </th>
                    <td>Bob Cormier</td>
                    <th>Email: </th>
                    <td>
                        <a style="cursor: pointer;" href="https://mail.google.com/mail/?view=cm&fs=1&to=fine@contact.com" target="_blank">
                          fine@contact.com
                        </a>
                        
                    </td>

                </tr>
                <tr>


                    <th>Project Manager: </th>
                    <td>Andrew Jones</td>

                    <th>Phone: </th>
                    <td>072- 346-2354 &nbsp;</td>
                </tr>
                <tr>
                    <th>Country:</th>
                    <td>United Kingdom</td>
                    <th>Province: </th>
                    <td>Scotland</td>

                </tr>
                <tr>
                    <th>City: </th>
                    <td>Caithness</td>
                    <th>Street Address: </th>
                    <td>10/1 Complex Avenue</td>
                </tr>

                <tr>

                    <th>Received Date:</th>
                    <td>09-01-2021</td>
                    <th>Due Date:</th>
                    <td>20-06-2021</td>
                </tr>
                <tr>


                    <th>Status: </th>
                    <td>Prepare Quote</td>
                    <th>Activity Date</th>
                        <td>
                            09-01-2021 &nbsp;
                        </td>
                </tr>
                <tr>


                    <th>Quoted Date: </th>
                    <td>-</td>
                    <th>
                        <span>Potential Leave:</span> 
                    </th>
                    <td>
                        <span >
                        <i class="fa fa-circle dot" style="float: left !important;color: rgb(216, 49, 166);"></i> 
                        Completed Follow Up with Client
                        </span>
                       
                    </td>
                </tr>
            </thead>
        </table>
    </div>
   
    <div class="col-sm-12">
        <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">PROJECT ADDRESS </span>
        </p>
        <table class="margin-top-20 table table-bordered table-hover">
            <thead>

                <tr>
                    <th>Street Address:</th>
                    <td>
                        <a href="https://www.google.com/maps/search/10/1 Complex Avenue" target="_blank">
                          10/1 Complex Avenue
                        </a>
                    </td>
                    <th>City: </th>
                    <td>Caithness</td>

                </tr>
                <tr>
                    <th>Country:</th>
                    <td>United Kingdom</td>
                    <th>Province: </th>
                    <td>Scotland</td>
                </tr>

                <tr>
                    <th class="text-center-vertical">Legal Description:</th>
                    <td colspan="3">
                        <div></div>
                    </td>
                   
                </tr>
                <tr>
                    <th class="text-center-vertical">Legal Property Owner: </th>
                    <td colspan="3">-</td>
                    
                </tr>
                <tr>
                    <th class="text-center-vertical">GOTO Link:</th>
                    <td colspan="3">
                        <ng-container>
                        <a href="http://www.google.com/search?q=cpm.optionmatrix.org/mrc/projects/quotes-dashboard" target="_blank">
                          http://cpm.optionmatrix.org/mrc/projects/quotes-dashboard</a>

                    </ng-container>
                    </td>
                </tr>
                <tr>
                    <th class="text-center-vertical">Research File Folder Link:</th>
                    <td colspan="3">
                        <ng-container>
                            <span><a style="color: rgb(31, 93, 207);"> http://cpm.optionmatrix.org/mrc/projects/quotes-dashboard/property</a></span>
                        
                    </ng-container>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-sm-12">

        <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
            <span style="font-size: 18px;font-weight: bold; margin-right: 8px">PURPOSE </span>
        </p>
        <div class="col-sm-6 no-padding">
            <div class="col-sm-12 no-padding">
                <p><b>Purpose of Survey: </b><span>As-Built Survey</span></p>
                <p>1) Does the entire property require an as-built survey or only a portion? </p>
                <p>2) Was there recent construction on the property?</p>
            </div>
        </div>
        <div class="col-sm-6 no-padding">
            <div class="col-sm-12 no-padding">
                <p><b>Where did you hear about us? : </b><span>Linkedin</span></p>
            </div>
        </div>
        <div class="col-sm-12 no-padding">
            <div class="col-sm-12 no-padding"></div>

        </div>
        <div class="col-sm-12 no-padding" style="margin-top: 15px">
          <p><b>Details: </b></p>
          <p>test</p>
        </div>

        

    </div>
    <div class="col-sm-12">
        <button mat-raised-button color="primary" class="btn btn-primary pull-right">
            Click to Edit Details
        </button>
    </div>
</div>

<!-- <div *ngIf='isedit'>
    <form>
        <div class="col-sm-12">
            <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
                <span style="font-size: 18px;font-weight: bold; margin-right: 8px">GENERAL </span>
                <a (click)="editClientDetails()" class="anchor pull-right no-padding" style="font-size: 15px !important; text-decoration: underline !important;"  matTooltip="Click to Edit Client Details">
                    Edit Client Details
                 </a>
            </p>
            <table id="example2" class="margin-top-20 table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Quote Number:</th>
                        <td class="form-group">
                            <input formControlName="quoteNumber" placeholder="Quote Number" class="form-control" type="text" disabled />
                        </td>

                        <th>Project Type: </th>
                        <td class="form-group">
                            <mat-select formControlName="projectTypeId" [ngClass]="{'field-required':(QuoteForm.controls.projectTypeId.errors?.required && QuoteForm.controls.projectTypeId.touched)}" class="form-control" placeholder="Select Project Type">
                                <mat-option class='option' *ngFor='let option of ProjectTypes' [value]="option.CommonMasterDataId">
                                  Construction
                                </mat-option>
                            </mat-select>

                        </td>
                    </tr>
                    <tr>
                        <th>Client Name: </th>
                        <td class="form-group">

                            <input type="text" formControlName="autoClientName" [matAutocomplete]="auto" class="form-control" placeholder="Enter Client Name" [ngClass]="{'field-required':(QuoteForm.controls.clientId.errors?.required && QuoteForm.controls.clientId.touched)}">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor='let option of filteredClients | async' (onSelectionChange)="onClientChangeEvent(option)" [matTooltip]="option.clientName" [value]="option.clientName">
                                    -
                                </mat-option>
                            </mat-autocomplete>

                        </td>
                        <th>Contact Details: </th>

                        <td class="form-group">
                            <mat-radio-group formControlName="contactDetailsId" (change)="onClientDetailSelection($event)">
                                <mat-radio-button value="1" [checked]="QuoteForm.controls.contactDetailsId.value == 1">Existing&nbsp;&nbsp;</mat-radio-button>
                                <mat-radio-button value="2" [checked]="QuoteForm.controls.contactDetailsId.value == 2">New&nbsp;&nbsp;</mat-radio-button>
                                <mat-radio-button value="3" [checked]="QuoteForm.controls.contactDetailsId.value == 3">Same as Client&nbsp;&nbsp;</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <th>Account Manager: </th>

                        <td class="form-group">
                            <mat-select formControlName="accountManagerId" class="form-control" placeholder="Select Account Manager">
                                <mat-option class='option' *ngFor='let option of accountManagerOptions' [value]="option.int_user_id">
                                    -</mat-option>
                            </mat-select>
                        </td>
                        <th>Email: </th>

                        <td class="form-group">
                            <input formControlName="clientEmail" class="form-control" placeholder="Enter Email Address" type="text" disabled />
                        </td>
                    </tr>
                    <tr>

                        <th>Project Manager: </th>

                        <td class="form-group">
                            <mat-select formControlName="projectManagerId" class="form-control" placeholder="Select Project Manager">
                                <mat-option class='option' *ngFor='let option of projectManagerOptions' [value]="option.int_user_id">
                                    -</mat-option>
                            </mat-select>
                        </td>
                        <th>Phone: </th>

                        <td class="form-group">
                            <input formControlName="clientPhone" class="form-control col-sm-6" placeholder="Enter Phone Number" type="text" disabled />
                            <b class="col-sm-2" style="margin-top: 10px !important;">Ext: </b>
                            <input formControlName="clientExt" class="form-control col-sm-4" type="text" placeholder="Ext Number"  disabled />
                        </td>
                    </tr>
                    <tr>

                        <th>Country:</th>

                        <td class="form-group">
                            <input formControlName="clientCountry" class="form-control" placeholder="Enter Country" type="text" disabled />
                        </td>
                        <th>Province: </th>

                        <td class="form-group">
                            <input formControlName="clientState" class="form-control" placeholder="Enter Province" type="text" disabled />
                        </td>
                    </tr>
                    <tr>
                        <th>City: </th>

                        <td class="form-group">
                            <input formControlName="clientCity" class="form-control" placeholder="Enter City" type="text" disabled/>
                        </td>
                        <th>Street Address: </th>

                        <td class="form-group">
                            <input formControlName="clientStreetAddress" class="form-control" placeholder="Enter Street Address" type="text" disabled />
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Received Date:
                        </th>
                        <td class="form-group">
                            <input formControlName="strReceivedDate" class="form-control" placeholder="Enter Received Date" type="text" disabled />
                        </td>
                        <th class="">
                           Due Date:
                        </th>

                        <td class="form-group">
                            
                            <p-calendar [ngClass]="{'field-required':(QuoteForm.controls.strDueDate.errors?.required && QuoteForm.controls.strDueDate.touched)}" [minDate]="receivedDate" dateFormat="yy-mm-dd" class="col-sm-12 no-padding" formControlName="strDueDate" [showOtherMonths]="false"
                                [showIcon]="true" appendTo="body">

                            </p-calendar>
                        </td>
                    </tr>
                    <tr>

                        <th>Status: </th>

                        <td class="form-group">
                           
                            <mat-select formControlName="quoteStatusId" [style.background]="quoteDataObj.stageColour" [ngClass]="{'disable-custom' : permissions.write == false}" placeholder="--Select Stage --" class='form-control' (selectionChange)="fnStatusUpdate($event,quoteDataObj,'add',quoteDataObj.currentStageId)">
                                <ng-container *ngFor='let option of quoteStagesForGrid'>
                                <mat-option [style.background]="option.ColorCode" class='option'
                                    [value]="option.ConfigureKanbanId">
                                     </mat-option>
                                </ng-container>
                                    <mat-option [style.background]="quoteDataObj.stageColour" *ngIf="isStageInactived(quoteDataObj.quoteStatusId)" class='option' [value]="quoteDataObj.quoteStatusId">{{quoteDataObj.quoteStatusName}}</mat-option>
                            </mat-select>
                        </td>
                        <th>Activity Date: </th>
                        <td class="form-group">
                            <a class="anchor" *ngIf="quoteDataObj.strFollowUpDate!='-'" (click)="fnStatusUpdate('',quoteDataObj,'update',quoteDataObj.currentStageId)" style="cursor: pointer">{{quoteDataObj.strFollowUpDate}}</a>
                                    <span *ngIf="quoteDataObj.strFollowUpDate=='-'"></span>
                                     
                                     (<span  [ngClass]="{'txtClrRed' : chechLastWorkedDate(quoteDataObj.strLastModifiedDate)}"></span>)
                        </td>
                    </tr>
                    <tr>

                        <th>Quoted Date: </th>

                        <td class="form-group">
                           09
                        </td>
                        <th>
                            <span *ngIf="type=='quote'">Potential Level:  </span>
   
                        </th>
                        <td>
                            <span *ngIf="type=='quote'">
                        <i class="fa fa-circle dot" style="float: left !important;" [style.color]="quoteData.potentialColor"></i> 
                            -               
                        </span>
                       
                        </td>
                    </tr>
                   
                </thead>
            </table>
        </div>
        <div *ngIf="QuoteForm.controls.contactDetailsId.value !=3" class="col-sm-12">
            <p class="col-sm-12 no-padding" style="margin-top: 20px;">
                <span style="font-size: 18px;font-weight: bold; margin-right: 8px">CONTACT DETAILS </span>
                <a *ngIf="QuoteForm.controls.contactDetailsId.value == 1"  (click)="editContactDetails()" class="anchor pull-right no-padding" style="font-size: 15px !important; text-decoration: underline !important;"  matTooltip="Click to Edit Contact Details" >
                   Edit Contact Details
                </a>
            </p>
            <table id="example2" class="margin-top-20 table table-bordered table-hover">
                <thead *ngIf="QuoteForm.controls.contactDetailsId.value == 1">
                    <tr>
                        <th class="add-member-label">Contact Name: </th>
                        <td class="form-group">

                            <mat-select placeholder="--Select Contact--" class="form-control" formControlName="ContactId" [(ngModel)]="contactDetails.ContactId" (selectionChange)="onContactChangeEvent($event.value)">
                                <mat-option *ngFor="let option of clientAllContacts" [value]="option.contactID">
                                    -
                                </mat-option>
                            </mat-select>
                        </td>

                        <th>Job Title:</th>
                        <td class="form-group">
                            <input placeholder="Job Title" class="form-control" type="text" formControlName="contactJobTitle" [(ngModel)]="contactDetails.contactJobTitle" disabled />
                        </td>
                    </tr>
                    <tr>
                        <th>Email:</th>

                        <td class="form-group">
                            <input placeholder="Email" class="form-control" type="text" formControlName="conatctEmail" [(ngModel)]="contactDetails.conatctEmail" disabled />
                        </td>
                        <th>Phone:</th>

                        <td class="form-group">
                            <input placeholder="Phone" class="form-control col-sm-6" type="text" formControlName="contactPhone" [(ngModel)]="contactDetails.contactPhone" disabled />
                            <b class="col-sm-2" style="margin-top: 10px !important;">Ext: </b>
                            <input placeholder="Ext" class="form-control col-sm-4" type="text" formControlName="contactExt" [(ngModel)]="contactDetails.contactExt" disabled />
                        </td>
                    </tr>
                    <tr>
                        <th>Street Address:</th>
                        <td class="form-group">
                            <input placeholder="Street Address" class="form-control" type="text" formControlName="contactStreetAddress" [(ngModel)]="contactDetails.contactStreetAddress" disabled />
                        </td>
                        <th>City:</th>

                        <td class="form-group">
                            <input placeholder="City" class="form-control" type="text" formControlName="contactCity" [(ngModel)]="contactDetails.contactCity" disabled />
                        </td>
                    </tr>
                    <tr>
                        <th>Country:</th>

                        <td class="form-group">
                            <input placeholder="Country" class="form-control" type="text" formControlName="contactCountry" [(ngModel)]="contactDetails.contactCountry" disabled />
                        </td>
                        <th>Province:</th>

                        <td class="form-group">
                            <input placeholder="Province" class="form-control" type="text" formControlName="contactState" [(ngModel)]="contactDetails.contactState" disabled />
                        </td>

                    </tr>
                    <tr>

                        <th>Postal Code:</th>

                        <td class="form-group">
                            <input placeholder="Postal Code" class="form-control" type="text" formControlName="contactPostalCode" [(ngModel)]="contactDetails.contactPostalCode" disabled />
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                </thead>
                <thead *ngIf="QuoteForm.controls.contactDetailsId.value == 2">
                    <tr>
                        <th class="add-member-label">Contact Name: </th>
                        <td class="form-group">
                           
                            <input placeholder="Enter Contact Name" class="form-control" type="text" formControlName="ContactName" [(ngModel)]="contactDetails.ContactName" />
                        </td>

                        <th class="add-member-label">Job Title: </th>
                        <td class="form-group">
                            <input placeholder="Enter Job Title" class="form-control" type="text" formControlName="contactJobTitle" [(ngModel)]="contactDetails.contactJobTitle" />
                        </td>
                    </tr>
                    <tr>
                        <th class="add-member-label">Email: </th>

                        <td class="form-group">
                            <input maxlength="100" name="email" placeholder="Enter Contact Email" class="form-control" type="text" formControlName="conatctEmail" [(ngModel)]="contactDetails.conatctEmail" />
                        </td>
                        <th class="add-member-label">Phone: </th>

                        <td class="form-group">
                            <input maxlength="20" [textMask]="{mask: phoneNumberMask}" placeholder="Enter Contact Phone" class="form-control col-sm-6" type="text" formControlName="contactPhone" [(ngModel)]="contactDetails.contactPhone" />
                            <b class="col-sm-2" style="margin-top: 10px !important;">Ext: </b>
                            <input placeholder="Ext" class="form-control col-sm-4" type="text" formControlName="contactExt" [(ngModel)]="contactDetails.contactExt" maxlength="5" (keypress)="onlyNumbers($event)" />
                        </td>
                    </tr>
                    <tr>
                        <th class="add-member-label">Street Address: </th>
                        <td class="form-group">
                            <input ngx-google-places-autocomplete  [options]='options' formControlName="contactStreetAddress" placeholder="Enter Street Address" [(ngModel)]="contactDetails.contactStreetAddress" class="form-control" (onAddressChange)="AddressChangeContact($event)"/> 
                           
                        </td>
                        <th class="add-member-label">City: </th>

                        <td class="form-group">
                            <input placeholder="Enter City" class="form-control" type="text" formControlName="contactCity" [(ngModel)]="contactDetails.contactCity" />
                        </td>
                    </tr>
                    <tr>
                        <th class="add-member-label">Country: </th>

                        <td class="form-group">
                            <input placeholder="Enter Country" class="form-control" type="text" formControlName="contactCountry" [(ngModel)]="contactDetails.contactCountry" />
                            
                        </td>
                        <th class="add-member-label">Province: </th>

                        <td class="form-group">
                            <input placeholder="Enter Province" class="form-control" type="text" formControlName="contactState" [(ngModel)]="contactDetails.contactState" />
                        </td>

                    </tr>
                    <tr>
                        <th class="add-member-label">Postal Code: </th>

                        <td class="form-group">
                            <input maxlength="7" placeholder="Enter Postal Code" class="form-control" type="text" formControlName="contactPostalCode" [(ngModel)]="contactDetails.contactPostalCode" />
                        </td>
                        <th></th>
                        <td></td>
                    </tr>
                </thead>
                <thead *ngIf="QuoteForm.controls.contactDetailsId.value == null">
                    <tr>
                        <th class="field-required">Please select contact details</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-12">
            <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
                <span style="font-size: 18px;font-weight: bold; margin-right: 8px">PROJECT ADDRESS </span>
            </p>
            <table class="margin-top-20 table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="add-member-label">Street Address: </th>
                        <td class="form-group">
                            
                            <input ngx-google-places-autocomplete [options]='options' [ngClass]="{'field-required':(QuoteForm.controls.projectStreetAddress.errors?.required && QuoteForm.controls.projectStreetAddress.touched)}" formControlName="projectStreetAddress" placeholder="Enter Street Address" class="form-control" (onAddressChange)="AddressChange($event)"/> 
                        </td>

                        <th class="add-member-label">City: </th>
                        <td class="form-group">
                            <input placeholder="Enter City" [ngClass]="{'field-required':(QuoteForm.controls.projectCity.errors?.required && QuoteForm.controls.projectCity.touched)}" formControlName="projectCity" class="form-control" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="add-member-label">Country: </th>

                        <td class="form-group">
                           
                            <input placeholder="Enter Country" [ngClass]="{'field-required':(QuoteForm.controls.projectCountry.errors?.required && QuoteForm.controls.projectCountry.touched)}" formControlName="projectCountry" class="form-control" type="text" />
                        </td>
                        <th class="add-member-label">Province: </th>

                        <td class="form-group">
                           
                            <input placeholder="Enter Province" [ngClass]="{'field-required':(QuoteForm.controls.projectState.errors?.required && QuoteForm.controls.projectState.touched)}" formControlName="projectState" class="form-control" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center-vertical">Legal Description:</th>
                        <td colspan="3">
                            <app-ngx-editor formControlName="legalDescription" height="70px" minHeight="50px" [config]='toolBar' [placeholder]="'Enter Legal Description'" [spellcheck]="true">

                            </app-ngx-editor>
                        </td>
                        
                    </tr>
                    <tr>
                        <th class="text-center-vertical">Legal Property Owner: </th>
                        <td colspan="3">
                            <input formControlName="legalPropertyOwner" (keypress)="restrictSpecialChar($event)" (paste)="onPaste($event.clipboardData.getData('text/plain'))"  class="form-control" placeholder="Enter Legal Property Owner" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center-vertical">GOTO Link:</th>
                        <td colspan="3">
                            <input placeholder="Enter GOTO Link"  formControlName="gotoLink" class="form-control" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <th class="text-center-vertical">Research File Folder Link:</th>
                        <td colspan="3">
                            <input placeholder="Enter Research File Folder Link"  formControlName="researchLink" class="form-control" type="text" />
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-sm-12">
            <p class="col-sm-12" style="margin-top: 20px;padding-left: 0px;">
                <span style="font-size: 18px;font-weight: bold; margin-right: 8px">PURPOSE </span>
            </p>
            <div class="col-sm-4 no-padding">
                <p class="add-member-label"><b>Purpose of Survey: </b></p>
                <div class="col-sm-10 no-padding" style="margin-top: -6px;">
                    <div class="col-sm-12 no-padding">
                        <mat-select [ngClass]="{'field-required':(QuoteForm.controls.purposeOfSurveyId.errors?.required && QuoteForm.controls.purposeOfSurveyId.touched)}" formControlName="purposeOfSurveyId" (selectionChange)="onSurveyPurposeChangeEvent($event)" placeholder="-- Select Purpose --"
                            class='form-control'>
                            <mat-option class='option' *ngFor='let option of surveyOptions' [value]="option.CommonMasterDataId">{{option.CommonMasterDataName}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

            </div>
            <div class="col-sm-4 no-padding">
                <p class="add-member-label"><b>Where did you hear about us?: </b></p>
                <mat-select [ngClass]="{'field-required':(QuoteForm.controls.leadSourceId.errors?.required && QuoteForm.controls.leadSourceId.touched)}" formControlName="leadSourceId" style="margin-top: -6px;" placeholder="--Select Source--" class='form-control col-sm-10'>
                    <mat-option class='option' *ngFor='let option of hearOptions' [value]="option.CommonMasterDataId">{{option.CommonMasterDataName}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="col-sm-4 no-padding">
                <label class="col-sm-12 no-padding control-label" style="padding-left:6px;">Attach File: </label>
                <div class="col-sm-12 no-padding" style="padding-left:6px;">

                    <input #myInput type="file" id="file" multiple="multiple"  (change)="handleFileInput($event.target.files)" style="padding-left: 0px;">

                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 15px">
            <div class="col-sm-12 no-padding" *ngIf="questionText != null" [innerHTML]="questionText.ConfigQuestion"></div>

        </div>
        <div class="col-sm-12" style="margin-top: 15px">
            <div class="col-sm-12 no-padding">
                <div class="col-sm-12 no-padding">
                    <label class="col-sm-2 control-label no-padding add-member-label">Details: </label>
                </div>
                <div class="col-sm-12 no-padding" style="padding-left: 22px;">
                    <app-ngx-editor formControlName="purposeDetails" height="70px" minHeight="50px" [config]='toolBar' [placeholder]="'Enter Details'" [spellcheck]="true">

                    </app-ngx-editor>
                </div>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 15px">
            
            <button mat-raised-button class="add-hover btn-primary pull-right" type="submit">
            <mat-icon>send</mat-icon>&nbsp;Save
        </button> 
        <button mat-raised-button class="add-dark-hover btn-default pull-right  margin-right-10" type="button" (click)="cancel()">
            <mat-icon>cancel</mat-icon> &nbsp;Cancel
        </button>
        </div>
    </form>
</div> -->
