

<div class="table-responsive w-100 flex-p">
  <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
          <tr class="tr-grid-header">
              <th class="vert-align-mid" style="width: 194px !important;">Requisition No.</th>
              <th class="vert-align-mid" style="width:100px;text-align: center!important;">Requisition Date</th>
              <th class="vert-align-mid" style="width:210px">Requisition Title</th>
              <th class="vert-align-mid" style="width:155px">Requisition Category & Sub Category</th>
              <th class="vert-align-mid" style="width:113px">Project</th>
              <th class="vert-align-mid" style="width:90px;text-align: center!important;">View Items</th>
              <th class="vert-align-mid" style="width:89px;text-align: center!important;">High Value Approval</th>
              <th style="text-align: center!important;">Approval</th>
              <th style="text-align: center!important;">Required By</th>
              <th style="text-align: center!important;">Review</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of items">
              <td>{{item.reqNo}}</td>
              <td  style="text-align: center!important;">{{item.reqDate}}</td>
              <td>{{item.reqTitle}}</td>
              <td>{{item.reqCategory}}</td>
              <td>{{item.project}}</td>
              <td  style="text-align: center!important;">{{item.viewItems}}</td>
              <td  style="text-align: center!important;">{{item.highApprovals}}</td>
              <td  style="text-align: center!important;">{{item.approvals}}</td>
              <td  style="text-align: center!important;">{{item.reqBy}}</td>
              <td  style="text-align: center!important;">{{item.review}}</td>
              
          </tr>
          
          
      </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

</div>