

<div class="table-responsive w-100 flex-p">
  <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
          <tr class="tr-grid-header">
              <th class="vert-align-mid" style="width: 73px !important;">SI No.</th>
              <th class="vert-align-mid" style="width:94px">STO Date</th>
              <th class="vert-align-mid" style="width:93px">STO Title</th>
              <th class="vert-align-mid" style="width:140px">Sending Project</th>
              <th class="vert-align-mid" style="width:131px">Receiving Project</th>
              <th class="vert-align-mid" style="width:106px;text-align: center!important;">SRN No.</th>
              <th class="vert-align-mid" style="width:112px;text-align: center!important;">SRN Date</th>
              <th style="text-align: center!important;">Invoice / Dc No</th>
              <th style="text-align: center!important;">Invoice / Dc Value</th>
              <th >Discrepancy Items</th>
              <th style="text-align: center!important;">Activity Log</th>
              <th style="text-align: center!important;">Status</th>
          </tr>
      </thead>
      <tbody>
          <tr >
              <!-- <td>{{item.indNo}}</td>
              <td>{{item.indDate}}</td>
              <td>{{item.indTitle}}</td>
              <td>{{item.indCategory}}</td>
              <td>{{item.make}}</td>
              
              <td  style="text-align: center!important;">{{item.viewItems}}</td>
              
              <td  style="text-align: center!important;">{{item.approvals}}</td>
              <td  style="text-align: center!important;">{{item.reqBy}}</td>
              <td>{{item.amount}}</td> -->
              
          </tr>
          <tr>
            <td colspan="18" class="text-center">
                No Data Available in table
            </td>
        </tr>  
          
      </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

</div>


