<div class="row-wrap">
  <div class="flex-p w-100">
      <div class="row">
          <div class="col-xs-12">
              <div class="row" style="margin-bottom:7px;">
                  <div class="col-xs-4 ">
                      <div class="flex-p">
                      </div>
                  </div>
              </div>
              

<!-- Table -->
<div class="row" style="margin-top:20px;">
  <div class="col-xs-12" style="margin-left:8px">
      <div id="grid-table-container" class="table-responsive" style="width: 99%;">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr>
                      <th>RFQ #</th>
                      <th>Title</th>
                      <th class="text-center">Items</th>
                      <th>Approved By</th>
                      <th class="text-center">No. Of RFQ's</th>
                      <th class="text-center" style="width: 112px!important;">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of values">
                      <td>{{item.rfq}}</td>
                  
                  <td>
                      {{item.title}}
                  </td>
                  <td class="text-center">
                      {{item.items}}
                      
                  </td>
                  <td>
                      {{item.approvedBy}}
                      
                  </td>
                  <td class="text-center">
                      {{item.no}}
                      
                  </td>
                  <td class="text-center">
                    {{item.action}}
                    
                </td>

      
  </tr>
</tbody>
</table>
<mat-paginator
[pageSizeOptions]="[5, 10, 25, 50, 100]"
showFirstLastButtons></mat-paginator>
</div>
</div>
</div>
</div>
</div>

</div>
</div>

