<div class="col-sm-12 no-padding margin-top-10">
  <p-accordion class="customAccordians">

      <p-accordionTab class="expenses-new-p">
          <p-header class="col-sm-11 pull-right" style="padding-left: 22px;">
            Project Name : Usha International Ltd <p style="margin-top:-15px;margin-left:400px">Consignments Arrived : 1</p>
            <p style="margin-top:-27px;margin-left:700px">No. of PO's in Consignments : 3</p><p style="margin-top:-27px;margin-left:1077px">No. of Invoices in Consignments : 3</p>
          </p-header>
          
          <table class="table table-bordered table-striped table-hover" style="margin-bottom:15px !important;">
              <thead>
                  <tr class="thead-color">	
                      <th>
                        Branch Name
                      </th>
                      <th class="text-center">
                        Store Name
                      </th>
                      <th class="text-center">
                        Con. Ref. No.
                      </th>
                      <th class="text-center">
                        Status
                      </th>
                      <th class="text-center">
                        PO Ref. No.
                      </th>
                      <th class="text-center">
                        PO Date
                      </th>
                      <th class="text-center">
                        PO Value
                      </th>
                      <th class="text-center">
                        PO Balance Value
                      </th>
                      <th class="text-center">
                        No. of Inv.
                      </th>


                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let items of items">
                      <td>
                          {{items.branchName}}
                      </td>
                      <td class="text-center">
                          {{items.storeName}}
                      </td>
                      <td class="text-center">
                          {{items.conRefNo}}
                      </td>

                      <td class="text-center">
                          {{items.status}}
                      </td>
                      <td class="text-center">
                          {{items.poRefNo}}
                      </td>
                      <td class="text-center">
                        {{items.poDate}}
                      </td>
                      <td class="text-center">
                          {{items.poValue}}
                      </td>
                      <td class="text-center">
                          {{items.poBalanceValue}}
                      </td>
                      <td class="text-center">
                          {{items.noofInv}}
                      </td>
                  </tr>
              </tbody>
          </table>
      </p-accordionTab>
  </p-accordion>
</div>


<div class="col-sm-12 no-padding margin-top-10">
  <p-accordion class="customAccordians">

      <p-accordionTab class="expenses-new-p">
          <p-header class="col-sm-11 pull-right" style="padding-left: 22px;">
            Project Name : Rane Holdings Ltd <p style="margin-top:-15px;margin-left:400px">Consignments Arrived : 0</p>
            <p style="margin-top:-27px;margin-left:700px">No. of PO's in Consignments : 3</p><p style="margin-top:-27px;margin-left:1077px">No. of Invoices in Consignments : 4</p>
          </p-header>
          
          <table class="table table-bordered table-striped table-hover" style="margin-bottom:15px !important;">
              <thead>
                  <tr class="thead-color">	
                      <th>
                        Branch Name
                      </th>
                      <th class="text-center">
                        Store Name
                      </th>
                      <th class="text-center">
                        Con. Ref. No.
                      </th>
                      <th class="text-center">
                        Status
                      </th>
                      <th class="text-center">
                        PO Ref. No.
                      </th>
                      <th class="text-center">
                        PO Date
                      </th>
                      <th class="text-center">
                        PO Value
                      </th>
                      <th class="text-center">
                        PO Balance Value
                      </th>
                      <th class="text-center">
                        No. of Inv.
                      </th>


                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of item">
                      <td>
                          {{item.branchName}}
                      </td>
                      <td class="text-center">
                          {{item.storeName}}
                      </td>
                      <td class="text-center">
                          {{item.conRefNo}}
                      </td>

                      <td class="text-center">
                          {{item.status}}
                      </td>
                      <td class="text-center">
                          {{item.poRefNo}}
                      </td>
                      <td class="text-center">
                        {{item.poDate}}
                      </td>
                      <td class="text-center">
                          {{item.poValue}}
                      </td>
                      <td class="text-center">
                          {{item.poBalanceValue}}
                      </td>
                      <td class="text-center">
                          {{item.noofInv}}
                      </td>
                  </tr>
              </tbody>
          </table>
      </p-accordionTab>
  </p-accordion>
</div>

<div class="col-sm-12 no-padding margin-top-10">
  <p-accordion class="customAccordians">

      <p-accordionTab class="expenses-new-p">
          <p-header class="col-sm-11 pull-right" style="padding-left: 22px;">
            Project Name : Minda Industries Ltd <p style="margin-top:-15px;margin-left:400px">Consignments Arrived : 0</p>
            <p style="margin-top:-27px;margin-left:700px">No. of PO's in Consignments : 3</p><p style="margin-top:-27px;margin-left:1077px">No. of Invoices in Consignments : 4</p>
          </p-header>
          
          <table class="table table-bordered table-striped table-hover" style="margin-bottom:15px !important;">
              <thead>
                  <tr class="thead-color">	
                      <th>
                        Branch Name
                      </th>
                      <th class="text-center">
                        Store Name
                      </th>
                      <th class="text-center">
                        Con. Ref. No.
                      </th>
                      <th class="text-center">
                        Status
                      </th>
                      <th class="text-center">
                        PO Ref. No.
                      </th>
                      <th class="text-center">
                        PO Date
                      </th>
                      <th class="text-center">
                        PO Value
                      </th>
                      <th class="text-center">
                        PO Balance Value
                      </th>
                      <th class="text-center">
                        No. of Inv.
                      </th>


                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let itemm of itemm">
                      <td>
                          {{itemm.branchName}}
                      </td>
                      <td class="text-center">
                          {{itemm.storeName}}
                      </td>
                      <td class="text-center">
                          {{itemm.conRefNo}}
                      </td>

                      <td class="text-center">
                          {{itemm.status}}
                      </td>
                      <td class="text-center">
                          {{itemm.poRefNo}}
                      </td>
                      <td class="text-center">
                        {{itemm.poDate}}
                      </td>
                      <td class="text-center">
                          {{itemm.poValue}}
                      </td>
                      <td class="text-center">
                          {{itemm.poBalanceValue}}
                      </td>
                      <td class="text-center">
                          {{itemm.noofInv}}
                      </td>
                  </tr>
              </tbody>
          </table>
      </p-accordionTab>
  </p-accordion>
</div>
<div class="col-sm-12 no-padding margin-top-10">
  <p-accordion class="customAccordians">

      <p-accordionTab class="expenses-new-p">
          <p-header class="col-sm-11 pull-right" style="padding-left: 22px;">
            Project Name : Menon Bearings Ltd <p style="margin-top:-15px;margin-left:400px">Consignments Arrived : 0</p>
            <p style="margin-top:-27px;margin-left:700px">No. of PO's in Consignments : 2</p><p style="margin-top:-27px;margin-left:1077px">No. of Invoices in Consignments : 2</p>
          </p-header>
          
          <table class="table table-bordered table-striped table-hover" style="margin-bottom:15px !important;">
              <thead>
                  <tr class="thead-color">	
                      <th>
                        Branch Name
                      </th>
                      <th class="text-center">
                        Store Name
                      </th>
                      <th class="text-center">
                        Con. Ref. No.
                      </th>
                      <th class="text-center">
                        Status
                      </th>
                      <th class="text-center">
                        PO Ref. No.
                      </th>
                      <th class="text-center">
                        PO Date
                      </th>
                      <th class="text-center">
                        PO Value
                      </th>
                      <th class="text-center">
                        PO Balance Value
                      </th>
                      <th class="text-center">
                        No. of Inv.
                      </th>


                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let itemms of itemms">
                      <td>
                          {{itemms.branchName}}
                      </td>
                      <td class="text-center">
                          {{itemms.storeName}}
                      </td>
                      <td class="text-center">
                          {{itemms.conRefNo}}
                      </td>

                      <td class="text-center">
                          {{itemms.status}}
                      </td>
                      <td class="text-center">
                          {{itemms.poRefNo}}
                      </td>
                      <td class="text-center">
                        {{itemms.poDate}}
                      </td>
                      <td class="text-center">
                          {{itemms.poValue}}
                      </td>
                      <td class="text-center">
                          {{itemms.poBalanceValue}}
                      </td>
                      <td class="text-center">
                          {{itemms.noofInv}}
                      </td>
                  </tr>
              </tbody>
          </table>
      </p-accordionTab>
  </p-accordion>
</div>
