
<div class="row-wrap">
  <div class="w-100">
    <div fxLayout="row">
      <div class="col-xs-12">
        <div class="pills">
          <ul class="nav nav-pills">
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" routerLink="grn-storeincharge">
                Store In Charge(10)
              </a>
            </li>
            <li routerLinkActive="active">
              <a mat-raised-button class="navtabWidth" routerLink="grn-technicalengineer">
                Tech. Engineer (0)
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>





