
<div class="row super-row" style="padding: 5px 24px 10px 23px">
      <a routerLinkActive="active-link" routerLink="indent-spareparts"
      class="col-sm font-color">Spare Parts (2)
      <br /> </a>
      <a routerLinkActive="active-link" routerLink="indent-materials"
      class="col-sm font-color">Materials (0)
      <br /></a> 
      <a routerLinkActive="active-link" routerLink="indent-tyres"
      class="col-sm font-color" >Tyres
      <br /> </a>      

                  
      </div>
      
      <div class="w-100">
          <div class="flex-p">
              <div class="row wrap">
                  <div class="col-sm-12 no-padding">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>