<div class="NewHeader">
    <h1 mat-dialog-title>Grid View Configuration </h1>
  </div> 
  <p>Please select the required columns in the grid, to view grid with specific columns</p>
  <div mat-dialog-content style="overflow:hidden!important;">
    <form class="form-horizontal" novalidate  style="margin-top:10px">
        <mat-checkbox class="col-sm-4" color='warn' >Quote Number</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Potential</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Street Address</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Quote Status</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Days Old</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Project Type</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Client Name</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Project Manager</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Received Date</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Quoted Date</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Due Date</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Days Due</mat-checkbox>   
          <mat-checkbox class="col-sm-4" color='warn' >Setup Due Date</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Activity Date</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Quoted</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Awarded</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Invoiced</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Balance (tax)</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Actual</mat-checkbox>
          <mat-checkbox class="col-sm-4" color='warn' >Profit/ Loss</mat-checkbox>
    </form>
  </div>
  
  <mat-dialog-actions align="end">
    <button mat-raised-button class="btn-primary" ><mat-icon>send</mat-icon>Configure</button>
    <button mat-raised-button class="CancelClass" ><mat-icon>cancel</mat-icon>Cancel</button>
  </mat-dialog-actions>
