
<div class="row super-row" style="padding: 5px 24px 10px 23px">
      <a routerLinkActive="active-link" routerLink="auto"
      class="col-sm font-color">Auto (9)
      <br /> </a>
      <a routerLinkActive="active-link" routerLink="manual"
      class="col-sm font-color">Manual (0)
      <br /></a> 
      <a routerLinkActive="active-link" routerLink="archives"
      class="col-sm font-color" >Archives
      <br /> </a>      
                  
      </div>
      
      <div class="w-100">
          <div class="flex-p">
              <div class="row wrap">
                  <div class="col-sm-12 no-padding">
                      <router-outlet></router-outlet>
                  </div>
              </div>
          </div>